body {
  background-color: rgb(226, 224, 224);
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: white;
}

.nav-right img {
  width: 25px;
}

main {
  padding: 30px 95px;
}

.container {
  display: grid;
  grid-template-columns: 75% 25%;
}

.display {
  display: grid;
  justify-content: end;
  margin-right: 20px;
}

.autoplay {
  display: grid;
  justify-content: end;
  margin-bottom: -30px;
}

.video-icons p {
  padding: 10px;
}

.up-next {
  display: grid;
  grid-template-columns: 50% 60%;
  padding: 8px 0;
}

.next-description {
  padding-left: 20px;
  margin-top: -25px;
}

.next-description h6 {
  font-size: 13px;
  line-height: 18px;
}

.next-description p {
  font-size: 11px;
}

.next-image img {
  width: 200px;
  height: 120px;
}
