body {
  font-family: 'Roboto', sans-serif;
}

nav {
  display: flex;
}

.nav-left {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.nav-left i {
  padding: 8px 10px;
}

.nav-right {
  position: absolute;
  right: 40px;
  top: 20px;
}

.nav-right img {
  width: 30px;
  padding: 0 20px;
}

.search-bar {
  display: flex;
  margin-left: 450px;
  margin-top: 5px;
}

.search-bar input {
  width: 500px;
  height: 30px;
}

.search-bar button {
  width: 50px;
  height: 36px;
}

main {
  background-color: rgb(243, 242, 242);
  padding: 30px 95px;
}

.container {
  display: grid;
  grid-template-columns: 75% 25%;
}

.display {
  margin-top: 10px;
}

.video-description {
  display: flex;
}

.video-icons {
  display: flex;
  position: absolute;
  right: 35rem;
  margin-top: 48px;
}

.video-icons p {
  padding: 0 20px;
}

.channel {
  display: flex;
}

.channel-profile {
  display: flex;
  align-items: center;
}

.subscribe {
  position: absolute;
  right: 35rem;
}

.subscribe p {
  background-color: red;
  font-weight: 500;
  color: white;
  padding: 8px 15px;
}

.up-next {
  display: grid;
  grid-template-columns: 50% 60%;
}

.sidebar {
  margin-top: -15px;
}

.autoplay {
  position: absolute;
  right: 70px;
}

.next-title {
  display: flex;
}

.next-description {
  padding-left: 20px;
  margin-top: -33px;
}

.next-description h6 {
  font-size: 13px;
  line-height: 18px;
}

.next-description p {
  font-size: 11px;
}

.next-image img {
  width: 200px;
  height: 120px;
}
